---
permalink: /index.html
eleventyExcludeFromCollections: true
sitemap: false
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Grey Wellness</title>
    <meta http-equiv="refresh" content="0; url=/en/">
    <link rel="canonical" href="{{ site.url }}/en/">
    <script>window.location.replace("/en/");</script>
  </head>
  <body>
    <p>Redirecting to <a href="/en/">/en/</a>…</p>
  </body>
</html>
