---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for item in collections.all %}
  {%- if item.data.sitemap != false and
         "CLAUDE" not in item.url and
         "README" not in item.url and
         "__" not in item.url %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    {%- if item.date %}
    <lastmod>{{ item.date | dateISO }}</lastmod>
    {%- endif %}
    <changefreq>{% if item.url == "/" %}weekly{% else %}monthly{% endif %}</changefreq>
    <priority>{% if item.url == "/" %}1.0{% elif "/pages/" in item.url %}0.8{% else %}0.6{% endif %}</priority>
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
