{% macro contactButton(text="Contact", class="") %}
  <a
    href="https://monicagrey.clientsecure.me"
    class="sp-contact-btn {{ class }}"
    data-spwidget-scope-id="91b66555-a746-4aaf-97af-68173f0eab96"
    data-spwidget-scope-uri="monicagrey"
    data-spwidget-application-id="7c72cb9f9a9b913654bb89d6c7b4e71a77911b30192051da35384b4d0c6d505b"
    data-spwidget-channel="embedded_widget"
    data-spwidget-type="Contact form"
    data-spwidget-contact
    data-spwidget-scope-global
    data-spwidget-autobind
  >{{ text }}</a>
{% endmacro %}
