---
pagination:
  data: collections.blogCategories_es
  size: 1
  alias: category
permalink: "/es/blog/category/{{ category | slugify }}/"
eleventyComputed:
  title: "{{ category }}"
  meta_title: "{{ category }} | Blog de Grey Wellness"
  description: "Artículos sobre {{ category }} de Mónica Grey, terapeuta bilingüe y especialista en TCC-I."
date_hidden: true
layout: layouts/blog-category.njk
---
