---
pagination:
  data: collections.blogCategories_en
  size: 1
  alias: category
permalink: "/en/blog/category/{{ category | slugify }}/"
eleventyComputed:
  title: "{{ category }}"
  meta_title: "{{ category }} | Grey Wellness Blog"
  description: "Articles on {{ category }} from Mónica Grey, bilingual therapist and CBT-I specialist."
date_hidden: true
layout: layouts/blog-category.njk
---
